.banner {
  background: url("image/banner2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -20px;
}

.headline {
    font-family: Oswald, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    color: white;
    bottom:25%;
    font-size:80px;
    position:absolute;
    text-align: left;
    margin-left: 5%;
}

#content {
    max-width: 75%;
    margin: auto;
    text-align: justify;
    font-family: Merriweather, Georgia, serif;
    font-size: 20px;
    line-height: 30px;
}

.dropcap {
    float: left;
    color: #ebc500;
    font-size: 100px;
    line-height: 60px;
    margin: 0.205em 0.153em 0 0;
}

.dropcap + span {
    margin-left : -0.5em;
}

.subhead {
    font-size: 25px;
    font-family: Oswald, Helvetica, sans-serif;
}

a {
    color: #daa520;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

.img_right {
    float: right;
    padding: 10px 0px 10px 10px; /*figure out how to make img align right fully*/
    margin: 0px 0px 5px 10px;
}

.img_captions {
    margin: 0px;
    padding: 15px 0px 0px 15px;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 25px;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ebc500;
    margin: 1em 0;
    padding: 0; 
}

.foot {
    font-size: 16px;
    font-family: Oswald, Helvetica, sans-serif;
    text-align: center;
}

/*Mobile - screens up to 500px wide*/
@media (max-width: 500px) { 
    .headline {
        font-style: 30px;
    }

    #content {
        width: 100%;
        padding: 10px;
    }
     
    .banner {
        display: none;
    }

    .img_right {
        float: none;
    }
    .img_captions {
        float: none;
    }
}

/*Tablet - screens between 500 and 800px wide*/
@media (min-width: 500px) and (max-width: 900px) {
    .headline {
        font-style: 30px;
    }

    #content {
        width: 100%;
        padding: 10px;
    }
    
    .banner {
        display: none;
    }
}